html, body{
    
    /* margin: .75em 1% ;	 */
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(156, 156, 190);
   
}

header{
  width: 100%;
}
section{
  width: 95%;
  margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24292e;
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  p{
    text-align: justify;
    padding-left: 20px;
  }
  .text2{
    padding-right: 20px; 
  }
  .text3{
    
    padding-right: 20px;
  }
  .parti1 {
      border: 2px solid black;

  }
  .phototext{
    display: flex
  }
  .photo1{
    width: 50%;
  }
  .parti2 {
    border: 2px solid black;
 

  }
  .phototext2{
    display: flex;
  }
  .parti3 {
    border: 2px solid #111111;

  }
  .ct{
    display: flex;
  }
  .poussin3{
    float: left;
  }
  h2{
    text-align: center;
  }